<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>

<igx-card class="mt-4">
  <igx-card-header background-color="#e41c77">
    <igx-icon>person</igx-icon>
    <h3 igxCardHeaderTitle>Login</h3>
  </igx-card-header>

  <igx-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <igx-input-group type="username" class="mt-4">
        <input igxInput id="username" type="text" formControlName="username"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <label igxLabel for="username">Username</label>
      </igx-input-group>
      <div *ngIf="submitted && f.username.errors" class="text-danger">
        <div *ngIf="f.username.errors.required" class="text-danger">Username is required</div>
      </div>

      <igx-input-group type="password" class="mt-4">
        <input igxInput id="password" type="password" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <label igxLabel for="password">Password</label>
      </igx-input-group>
      <div *ngIf="submitted && f.password.errors" class="text-danger">
        <div *ngIf="f.password.errors.required" class="text-danger">Password is required</div>
      </div>

      <div class="form-group mt-4">
        <button igxButton="flat" igxRipple="#FBB13C" [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <button igxButton="flat" igxRipple="#FBB13C">
          <a routerLink="/register">Register</a>
        </button>
      </div>
    </form>
  </igx-card-content>
</igx-card>