#username {
  color: grey;
  font-size: 30px;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  width: 600px;
  height: 500px;
}

.font {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  text-align: left !important;
}

