<h3>Hello, stranger!</h3>
<h5>Before you move on to finding your MindMatch, we need to get acquainted</h5>

<br>

<div *ngIf="!showTheQuestionnaire">
  <button igxButton="flat" igxRipple="#FBB13C" (click)="showTheQuestionnaire=!showTheQuestionnaire; buildForm()"
    class="btn btn-dark">Let's get this show on the road!
  </button>
</div>

<div *ngIf="invalidForm" class="alert alert-danger">All questions need an answer!</div>

<div *ngIf="showTheQuestionnaire">
  <div *ngFor="let nextGroup of personalQuestionnaireGroup; let i = index;">
    <igx-card class="mt-2">
      <form *ngIf="nextGroup" [formGroup]="nextGroup">
        <h6 class="h6 mb-2 text-primary">
          {{nextGroup.get('question').value}}
        </h6>
        <div formArrayName="answers" *ngFor="let answer of getAnswersArrayAtIndex(i).controls;let j = index;">
          <mat-checkbox [formControl]="answer" [checked]="answer.value" labelPosition="after" id="answer{{i}}{{j}}"
            aria-labelledby="answer{{j}}" (change)="getSelectedAnswers(i)">
            {{structuredAnswers[i][j]}}
          </mat-checkbox>
        </div>
      </form>
    </igx-card>
  </div>
  <button igxButton="flat" igxRipple="#FBB13C" (click)="onSubmit()" class="btn btn-primary mt-2">Submit</button>
</div>
