<h1>Hello, stranger!</h1>
<br>

<h3>Before you move on to finding your MindMatch, we need to get acquainted</h3>
<div *ngIf="!showTheQuestionnaire">
  <button
    (click)="showTheQuestionnaire=!showTheQuestionnaire;"
    class="btn btn-dark">Let's get this show on the road!
  </button>
</div>
<div *ngIf="showTheQuestionnaire">
  <div  *ngFor="let nextGroup of personalQuestionnaireGroup; let i = index;">
    <form  [formGroup]="nextGroup">
      {{nextGroup.get('question').value}}
      <div formArrayName="answers"
           *ngFor="let answer of getAnswersArrayAtIndex(i).controls;let j = index;">

        <mat-checkbox [formControl]="answer"
                      [checked]="answer.value"
                      labelPosition="before"
                      id="answer{{i}}{{j}}"
                      aria-labelledby="answer{{j}}"
                      (change)="getSelectedAnswers(i)"
                      >
          {{possibleAnswersPersQues[j]}}
        </mat-checkbox>
      </div>


    </form>


  </div>
  <button class="mat-fab">Submit</button>
</div>
